.demo__an {
    svg{
        g{
            #cloud1 {
                will-change: transform;
                @include demo-mixin(cloud,10s){
                    0% {transform: translateX(2rem);}
                    50% {transform: translateX(-2rem);}
                    100% {transform: translateX(2rem);}
                }
            }

            #cloud3 {
                will-change: transform;
                @include demo-mixin(cloud-1,12s){
                    0% {transform: translateX(-2rem);}
                    50% {transform: translateX(1rem);}
                    100% {transform: translateX(-2rem);}
                }
            }
            #Group_19 {
                will-change: transform;
                transform-origin: left;
                @include demo-mixin(trolley,5s){
                    0% {transform: rotate(5deg);}
                    50% {transform: rotate(-5deg);}
                    100% {transform: rotate(5deg);}
                }
            }
        }
    }
}

.webDesignDemo_an{
            #Group_25 {
                    will-change: transform;
                    @include demo-mixin(view_1,10s){
                        0% {transform: translate(10rem,0);}
                        50% {transform: translate(-2rem,-3rem);}
                        100% {transform: translate(10rem,0);}
                    }
            }

            #Group_14 {
                will-change: transform;
                @include demo-mixin(view_2,10s){
                    0% {transform: translate(-10rem,-5rem);}
                    50% {transform: translate(1rem,0rem);}
                    100% {transform: translate(-10rem,-5rem);}
                }
        }
}

.radar-img_an {
        #scanning{
            will-change: transform;
            transform-box: fill-box;
            transform-origin: center;
            width: 100%;
            position: absolute;
            @include demo-mixin(radar,10s){
                0% {transform: rotate(0deg);}
                100% {transform: rotate(-360deg);}
            }
        }
}